#accessSafeBtn {
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 50px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #18A0FB;
}

#homepage {
    font-size: larger;
    background-color: #0C4E95;
    color: #F7F7F7;
    height: 75vh;

}

#about {
    margin: 10px;
    display: flex;
    background-color: #FFFFFF;
    color: #6E297B;
    height: 50vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

#community {
    display: flex;
    background-color: #FFDD17;
    color: #6E297B;
    height: 50vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

#support {
    background-color: #6E297B;
    color: #FFFFFF;
    height: 25vh;
}