html {
  scroll-behavior:smooth;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background:#7ebfeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #51b1f1;
  border-radius: 5px;
}

body {
  margin: 0;
  height: 100%;
}

h1 {
  font-size: 50pt;
}

h2 {
  font-size: 35px;
}

label {
  float: left;
}

input {
  padding-top: 5px;
  font-size: 20px;
  width: 25vw;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #6E297B;
}

button {
  cursor:pointer;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:hover {
  opacity: 75%;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  transition: background-color .3s;
  background-color: rgb(228, 228, 228);
  border: 1px solid #888;
}

.pagination a.active {
  background-color: rgb(65, 159, 253);
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.error {
  display: none;
  color: red;
  text-align: center;
  margin: 0;
}

.success {
  display: none;
  color: #4BB543;
  text-align: center;
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
  text-align: center;
  border-radius: 10px;
  overflow-y: hidden;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.logo-nav {
  float: left;
  width: 5%;
  margin: 5px;
  margin-left: 25px;
  margin-right: 25px;
}
.logo-text {
  float: left;
  width: 35%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.topnav {
  top: 0;
  background-color: #6E297B;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 22px 16px;
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #713c7c;
  padding-bottom: 18px;
}

.topnav a.active {
  background-color: #580b68;
}

.center-text{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
} 

.submitBtn {
  font-size: 20px;
  width: 25vw;
  height:4vh;
  border-radius: 5px;
  background-color: #1C4C96;
  border:  none;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 10px;
}

.backBtn {
  font-size: 20px;
  font-weight: bold;
  width: 25vw;
  height:4vh;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 3px solid #1C4C96;
  color: #1C4C96;
  margin-bottom: 10px;
}

.icon {
  position: relative;
  top: 5px;
  padding-right: 15px;
}

.navBar {
  background-color: #6E297B;
  width: 15vw;
  height: 100vh;
  color: #FFFFFF;
  align-items: center;
}

.navBar a:hover {
  color: #FFDD17;
}

.navBar a:active {
  color: #FFDD17;
}
.navBar-contents {
  font-size: large;
  margin-left: 2vw;
  margin-top: 1vw;
  line-height: 2.5;
  vertical-align: middle;
  align-items: center;
}